# templates/core/doctor_dashboard.html
{% extends 'base.html' %}

{% block title %}Appointment slot list - PH HealthCare{% endblock %}

{% block content %}
<h2 class="mb-4">Appointment slot list</h2>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title mb-0">Appointment slots</h5>
            </div>
            <div class="card-body">
                {% for slot in slot_list %}
                    {{ slot }}
                    <a href="{% url "update_appointment_slot" slot.id %}" class="btn btn-success">Update Slot</a> 
                    <a href="{% url "delete_appointment_slot" slot.id %}" class="btn btn-danger">Delete Slot</a><br>
                {% empty %}
                    <p class="text-center">No appointments slot.</p>
                {% endfor %}
            </div>
            <a href="{% url "create_appointment_slot" %}" class="btn btn-success">Create Slot</a>
        </div>
    </div>
    
    
</div>
{% endblock %}







