
{% extends 'base.html' %}

{% block title %}Today Appointments - PH HealthCare{% endblock %}

{% block content %}
<h2 class="mb-4">Today Appointments</h2>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title mb-0">Today Appointments</h5>
            </div>
            <div class="card-body">
                {% for appointment in appointments %}
                        {% include 'appointment_card.html' with appointment=appointment %}
                {% empty %}
                    <p class="text-center">No appointments today.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}







